<link rel="stylesheet" type="text/css" href="~Content/css/Flip.css">
<div class="flipWrapper">
    <div class="card">
        <div class="face front">
            Front side of card
        </div>
        <div class="face back">
            Back side of card   
        </div>
    </div>
</div>
